fastapi
uvicorn
langchain
langchain-groq
langchain-huggingface
langchain-community
python-multipart
python-dotenv
sentence-transformers
pydantic
asyncpg
psycopg2-binary
pinecone-client
langchain-pinecone
upstash-redis
